<div class="category">
  <div class="category__item" *ngFor="let item of calendarCat">
    <a class="category__link" [routerLink]="[item.path]"></a>
    <div class="category__content">
      <i class="category__icon" [inlineSVG]="item.icon" [ngStyle]="{'background-color': item.backColor}"></i>
      <div>
        <p class="category__name">{{item?.name}}</p>
        <p class="category__desc" *ngIf="item.desc">{{item?.desc}}</p>
      </div>
    </div>
    <div class="flex flex--middle">
      <span class="category__selected badge badge--circle badge--yellow" *ngIf="item.selected">{{item?.selected}}</span>
      <i class="category__more" [inlineSVG]="'assets/svg/pack/chevron-right.svg'"></i>
    </div>
  </div>
</div>