<!-- <div class="calendar"> -->

  <!-- <div class="calendar__quick">
    <p class="calendar__quick-title">Перечень услуг фотостудии</p>
    <div class="calendar__quick-list">
      
    </div>
    <div class="calendar__quick-item" randomBack>
      123123
    </div>
  </div> -->

  <h2 class="calendar__title">
    Мастер бронирования
  </h2>
  <h3 class="calendar__desc">
    Мастер бронирования ваших потребностей
  </h3>

  <!-- Category -->
  <app-category-part></app-category-part>

  <h2 class="calendar__title">
    Популярные события
  </h2>
  <h3 class="calendar__desc">
    которые позволят Вам сэкономить
  </h3>
  
  <!-- Teaser population services -->
  <app-teaser-part></app-teaser-part>

<!-- </div> -->