.calendar {
  position: relative;
  max-width: 400px;
  background-color: #fff;
  padding: 15px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
}
.calendar .calendar__title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #222;
  line-height: 2rem;
}
.calendar .calendar__desc {
  font-size: .8rem;
  font-weight: 600;
  color: #999;
  line-height: 1.2rem;
}
.calendar .calendar__header-filter {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0 15px;
  margin: 0 -15px;
}
.calendar .calendar__user {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.calendar .calendar__user-avatar {
  margin-right: 10px;
}
.calendar .calendar__user-name {
  font-weight: 600;
  font-size: 1rem;
}
.calendar .calendar__quick {
  margin: 25px 0;
}
.calendar .calendar__quick-title {
  color: #999;
  font-weight: 600;
  font-size: .8rem;
  line-height: 1;
  margin: 0 0 10px 0;
}
.calendar .calendar__quick-list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.calendar .calendar__quick-item {
  display: inline-flex;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 4px;
}
.calendar-cat {
  position: relative;
}
.calendar-cat .calendar-cat__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.calendar-cat .calendar-cat__item:before {
  content: '';
  position: absolute;
  left: 50px;
  right: 0;
  bottom: 0;
  border-bottom: .5px solid #f1f1f1;
}
.calendar-cat .calendar-cat__content {
  display: flex;
  align-items: center;
}
.calendar-cat .calendar-cat__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #f1f1f1;
  color: #fff;
  margin-right: 10px;
}
.calendar-cat .calendar-cat__more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #fff;
  margin-right: 10px;
  color: #ddd;
}
.calendar-cat .calendar-cat__name {
  display: block;
  width: 100%;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1;
}
@media (min-width: 320px) and (max-width: 767px) {
  .calendar {
    width: 100%;
  }
}
